body {
    font-family: Arial, sans-serif;
    background-color: #c9c5c5;
  }
  
header{
    text-align: center;
}

h1{
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 20px;
}
  
nav{
    text-align: center;
}
  
nav ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav li{
    display: inline-block;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333;
    margin-right: 10px;
    display: inline-block;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1.5em;
}
  
.modal{
    display: none; /* hidden by default */
    position: fixed; /* stay in place */
    z-index: 1; /* sit on top */
    left: 0;
    top: 0;
    width: 100%; /* full width */
    height: 100%; /* full height */
    overflow: auto; /* enable scroll if needed */
    background-color: rgb(0, 0, 0); /* fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* black w/ opacity */
}
  
.modal-content{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* width of modal */
}
  
.close-button{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.button:hover{
    background-color: #45a049;
}

.close-button:hover,
.close-button:focus{
    
    color: black;
    text-decoration: none;
    cursor: pointer;
}